@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --accent: #16a393;
  --neutral-default: #4b5563;
  --surface-200: #f6f6f6;
  --surface-100: #ffffff;
  --surface-700: #4b5563;
  --shadow-100: #00000033;
  --background-image: url(/src/assets/background-images/light-bg.jpg);
}

.dark {
  --accent: #16a393;
  --neutral-default: #b8b6b6;
  --surface-200: #0f172a;
  --surface-100: #0f172aea;
  --surface-700: #b8b6b6;
  --shadow-100: #ffffff1a;
  --background-image: url(/src/assets/background-images/dark-bg.jpg);
}

@theme {
  /* colors */
  --color-accent: var(--accent);
  --color-neutral-default: var(--neutral-default);
  --color-surface-100: var(--surface-100);
  --color-surface-200: var(--surface-200);
  --color-surface-700: var(--surface-700);
  --color-shadow-100: var(--shadow-100);

  /* background images */
  --image-background: var(--background-image);
}

html {
  scroll-behavior: smooth;
}
